<h1>Przeglądarka Pracowników</h1>

<div class="employee-selection">
  <app-employee-select id="employeeSelect" (employeeSelected)="onEmployeeSelected($event)"></app-employee-select>
</div>

<div class="hierarchy-display">
  <h3>Ścieżka przełożonych:</h3>
  <app-employee-hierarchy [selectedEmployee]="currentSelectedEmployee"></app-employee-hierarchy>
</div>

<div class="tree-display" *ngIf="currentSelectedEmployee">
  <div class="tree-header">
    <h3>Struktura podwładnych dla <span class="employee-name-highlight">{{ currentSelectedEmployee.firstName }} {{ currentSelectedEmployee.lastName }}</span>:</h3>
    <div class="tree-controls">
      <button class="neo-button" (click)="toggleAllSubordinates()">
        {{ allSubordinatesExpanded ? 'Zwiń wszystko' : 'Rozwiń wszystko' }}
      </button>
    </div>
  </div>
  <app-tree-view #subordinateTreeView [nodes]="(subordinateTree$ | async) ?? []"></app-tree-view>
</div>

