<ng-container *ngIf="(hierarchyPath$ | async) as path; else noSelectionOrHierarchy">
  <div class="hierarchy-container" *ngIf="path.length > 0"> 
    <ng-container *ngFor="let employee of path; let isLast = last">
      <div class="hierarchy-item neo-ui">
        {{ employee.firstName }} {{ employee.lastName }}
      </div>
      <span *ngIf="!isLast" class="hierarchy-separator">></span>
    </ng-container>
  </div>
 
</ng-container>
<ng-template #noSelectionOrHierarchy>
  <div class="no-hierarchy">
    Wybierz pracownika, aby zobaczyć jego ścieżkę przełożonych.
  </div>
</ng-template>
